html, body {
    margin: 0;
    padding: 0;
}

.container{
    border: 5px solid black;
    border-radius: 2%;
    max-width: 600px;
    margin: 20px;
}

#logo{
    max-width: 150px;
    object-fit: contain;
}

#vpfp {
    width: 40px;
    border-radius: 100%;
    margin: 10px;
}

.user{
    display: flex;
    align-items: center;
}

.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.location {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.post{
    max-width: 100%;
    object-fit: contain;
}

.btn1, .btn2, .btn3 {
    height: 2%;
    width: 5%;
    object-fit: contain;
    margin: 5px;
}

h2{
    font-size: 14px;
    margin: 1px 5px;
}

h3, p{
    margin: 0;
    font-size: 15px;
    padding: 10px 0px 30px 0px;
    object-fit: contain;
}

h3{
    padding-right: 10px;
}

.caption {
     display: flex;
     margin: 0 5px;
}